@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: transparent;
}

.ps__thumb-x {
    background-color: theme('colors.stone.700');
}

.ps__thumb-y {
    background-color: theme('colors.stone.700');
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: theme('colors.stone.700');
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: theme('colors.stone.700');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-900 bg-cover bg-center bg-no-repeat text-slate-300 min-h-screen;

        background-image: url('../images/bg.png');
    }

    .nav-left {
        background-image: url('../images/nav-left-bg.png');
        height: 100px;
    }

    .nav-top {
        background-image: url('../images/nav-top-bg.png');
        width: 372px;
    }

    .nav-right {
        background-image: url('../images/nav-right-bg.png');
        height: 100px;
    }

    .sidebar {
        background-image: url('../images/sidebar-border.png');
    }

    .sidebar-content-left,
    .sidebar-content-right {
        height: calc(100vh - theme('spacing.32'));
    }

    .sidebar-content-right .ps__rail-y {
        right: auto;
        left: 0;
    }

    .sidebar-content-right .ps__thumb-y {
        right: auto;
        left: 2px;
    }
}

@layer components {
    .grid-empty {
        background-image: url('../images/grid-empty.png');
    }

    .grid-shallow {
        background-image: url('../images/grid-shallow.png');
    }

    .grid-deep {
        background-image: url('../images/grid-deep.png');
    }

    .btn {
        @apply block h-9 w-9 flex items-center justify-center rounded-full bg-stone-900 border-2 border-amber-200 text-amber-300 hover:bg-stone-700;
    }
}
