.artifact-ace {
    background-image: url('../images/items/ace.png');
}

.artifact-amber {
    background-image: url('../images/items/amber.png');
}

.artifact-anchor {
    background-image: url('../images/items/anchor.png');
}

.artifact-anvil {
    background-image: url('../images/items/anvil.png');
}

.artifact-artifact {
    background-image: url('../images/items/artifact.png');
}

.artifact-atlantis {
    background-image: url('../images/items/atlantis.png');
}

.artifact-automobile {
    background-image: url('../images/items/automobile.png');
}

.artifact-axe {
    background-image: url('../images/items/axe.png');
}

.artifact-barrel {
    background-image: url('../images/items/barrel.png');
}

.artifact-bell {
    background-image: url('../images/items/bell.png');
}

.artifact-belt {
    background-image: url('../images/items/belt.png');
}

.artifact-bicycle {
    background-image: url('../images/items/bicycle.png');
}

.artifact-binoculars {
    background-image: url('../images/items/binoculars.png');
}

.artifact-boot {
    background-image: url('../images/items/boot.png');
}

.artifact-bottle {
    background-image: url('../images/items/bottle.png');
}

.artifact-breastplate {
    background-image: url('../images/items/breastplate.png');
}

.artifact-brush {
    background-image: url('../images/items/brush.png');
}

.artifact-bucket {
    background-image: url('../images/items/bucket.png');
}

.artifact-calculator {
    background-image: url('../images/items/calculator.png');
}

.artifact-camera {
    background-image: url('../images/items/camera.png');
}

.artifact-can {
    background-image: url('../images/items/can.png');
}

.artifact-cannon {
    background-image: url('../images/items/cannon.png');
}

.artifact-cassette {
    background-image: url('../images/items/cassette.png');
}

.artifact-chair {
    background-image: url('../images/items/chair.png');
}

.artifact-chalice {
    background-image: url('../images/items/chalice.png');
}

.artifact-chest {
    background-image: url('../images/items/chest.png');
}

.artifact-chip {
    background-image: url('../images/items/chip.png');
}

.artifact-chisel {
    background-image: url('../images/items/chisel.png');
}

.artifact-clock {
    background-image: url('../images/items/clock.png');
}

.artifact-code {
    background-image: url('../images/items/code.png');
}

.artifact-cogwheel {
    background-image: url('../images/items/cogwheel.png');
}

.artifact-coins {
    background-image: url('../images/items/coins.png');
}

.artifact-compass {
    background-image: url('../images/items/compass.png');
}

.artifact-container {
    background-image: url('../images/items/container.png');
}

.artifact-corkscrew {
    background-image: url('../images/items/corkscrew.png');
}

.artifact-crowbar {
    background-image: url('../images/items/crowbar.png');
}

.artifact-crown {
    background-image: url('../images/items/crown.png');
}

.artifact-dagger {
    background-image: url('../images/items/dagger.png');
}

.artifact-diadem {
    background-image: url('../images/items/diadem.png');
}

.artifact-diamond {
    background-image: url('../images/items/diamond.png');
}

.artifact-dice {
    background-image: url('../images/items/dice.png');
}

.artifact-dinosaur {
    background-image: url('../images/items/dinosaur.png');
}

.artifact-dodecahedron {
    background-image: url('../images/items/dodecahedron.png');
}

.artifact-drum {
    background-image: url('../images/items/drum.png');
}

.artifact-flintlock {
    background-image: url('../images/items/flintlock.png');
}

.artifact-fossil {
    background-image: url('../images/items/fossil.png');
}

.artifact-gauntlet {
    background-image: url('../images/items/gauntlet.png');
}

.artifact-glove {
    background-image: url('../images/items/glove.png');
}

.artifact-gold {
    background-image: url('../images/items/gold.png');
}

.artifact-hammer {
    background-image: url('../images/items/hammer.png');
}

.artifact-helmet {
    background-image: url('../images/items/helmet.png');
}

.artifact-hieroglyphs {
    background-image: url('../images/items/hieroglyphs.png');
}

.artifact-hook {
    background-image: url('../images/items/hook.png');
}

.artifact-horn {
    background-image: url('../images/items/horn.png');
}

.artifact-key {
    background-image: url('../images/items/key.png');
}

.artifact-knife {
    background-image: url('../images/items/knife.png');
}

.artifact-lamp {
    background-image: url('../images/items/lamp.png');
}

.artifact-lantern {
    background-image: url('../images/items/lantern.png');
}

.artifact-laptop {
    background-image: url('../images/items/laptop.png');
}

.artifact-lighter {
    background-image: url('../images/items/lighter.png');
}

.artifact-luger {
    background-image: url('../images/items/luger.png');
}

.artifact-machine {
    background-image: url('../images/items/machine.png');
}

.artifact-magnifier {
    background-image: url('../images/items/magnifier.png');
}

.artifact-medal {
    background-image: url('../images/items/medal.png');
}

.artifact-meteorite {
    background-image: url('../images/items/meteorite.png');
}

.artifact-mirror {
    background-image: url('../images/items/mirror.png');
}

.artifact-mug {
    background-image: url('../images/items/mug.png');
}

.artifact-nails {
    background-image: url('../images/items/nails.png');
}

.artifact-oar {
    background-image: url('../images/items/oar.png');
}

.artifact-opener {
    background-image: url('../images/items/opener.png');
}

.artifact-padlock {
    background-image: url('../images/items/padlock.png');
}

.artifact-pan {
    background-image: url('../images/items/pan.png');
}

.artifact-pawn {
    background-image: url('../images/items/pawn.png');
}

.artifact-pen {
    background-image: url('../images/items/pen.png');
}

.artifact-phone {
    background-image: url('../images/items/phone.png');
}

.artifact-pipe {
    background-image: url('../images/items/pipe.png');
}

.artifact-plate {
    background-image: url('../images/items/plate.png');
}

.artifact-pliers {
    background-image: url('../images/items/pliers.png');
}

.artifact-plunger {
    background-image: url('../images/items/plunger.png');
}

.artifact-pot {
    background-image: url('../images/items/pot.png');
}

.artifact-ring {
    background-image: url('../images/items/ring.png');
}

.artifact-safe {
    background-image: url('../images/items/safe.png');
}

.artifact-saucer {
    background-image: url('../images/items/saucer.png');
}

.artifact-scissors {
    background-image: url('../images/items/scissors.png');
}

.artifact-screwdriver {
    background-image: url('../images/items/screwdriver.png');
}

.artifact-sculpture {
    background-image: url('../images/items/sculpture.png');
}

.artifact-shield {
    background-image: url('../images/items/shield.png');
}

.artifact-shoe {
    background-image: url('../images/items/shoe.png');
}

.artifact-spoon {
    background-image: url('../images/items/spoon.png');
}

.artifact-sundial {
    background-image: url('../images/items/sundial.png');
}

.artifact-sunglasses {
    background-image: url('../images/items/sunglasses.png');
}

.artifact-sword {
    background-image: url('../images/items/sword.png');
}

.artifact-symbol {
    background-image: url('../images/items/symbol.png');
}

.artifact-tap {
    background-image: url('../images/items/tap.png');
}

.artifact-teapot {
    background-image: url('../images/items/teapot.png');
}

.artifact-telephone {
    background-image: url('../images/items/telephone.png');
}

.artifact-television {
    background-image: url('../images/items/television.png');
}

.artifact-tire {
    background-image: url('../images/items/tire.png');
}

.artifact-treasure {
    background-image: url('../images/items/treasure.png');
}

.artifact-typewriter {
    background-image: url('../images/items/typewriter.png');
}

.artifact-ukulele {
    background-image: url('../images/items/ukulele.png');
}

.artifact-umbrella {
    background-image: url('../images/items/umbrella.png');
}

.artifact-urn {
    background-image: url('../images/items/urn.png');
}

.artifact-valve {
    background-image: url('../images/items/valve.png');
}

.artifact-vase {
    background-image: url('../images/items/vase.png');
}

.artifact-wallet {
    background-image: url('../images/items/wallet.png');
}

.artifact-watch {
    background-image: url('../images/items/watch.png');
}

.artifact-weight {
    background-image: url('../images/items/weight.png');
}

.artifact-wheel {
    background-image: url('../images/items/wheel.png');
}

.artifact-whistle {
    background-image: url('../images/items/whistle.png');
}

.artifact-wine {
    background-image: url('../images/items/wine.png');
}

.artifact-wrench {
    background-image: url('../images/items/wrench.png');
}
