.artifact-ace {
    background-image: url('../images/ace.png');
}

.artifact-amber {
    background-image: url('../images/amber.png');
}

.artifact-anchor {
    background-image: url('../images/anchor.png');
}

.artifact-anvil {
    background-image: url('../images/anvil.png');
}

.artifact-artifact {
    background-image: url('../images/artifact.png');
}

.artifact-atlantis {
    background-image: url('../images/atlantis.png');
}

.artifact-automobile {
    background-image: url('../images/automobile.png');
}

.artifact-axe {
    background-image: url('../images/axe.png');
}

.artifact-barrel {
    background-image: url('../images/barrel.png');
}

.artifact-bell {
    background-image: url('../images/bell.png');
}

.artifact-belt {
    background-image: url('../images/belt.png');
}

.artifact-bicycle {
    background-image: url('../images/bicycle.png');
}

.artifact-binocular {
    background-image: url('../images/binocular.png');
}

.artifact-boot {
    background-image: url('../images/boot.png');
}

.artifact-bottle {
    background-image: url('../images/bottle.png');
}

.artifact-breastplate {
    background-image: url('../images/breastplate.png');
}

.artifact-brush {
    background-image: url('../images/brush.png');
}

.artifact-bucket {
    background-image: url('../images/bucket.png');
}

.artifact-calculator {
    background-image: url('../images/calculator.png');
}

.artifact-camera {
    background-image: url('../images/camera.png');
}

.artifact-can {
    background-image: url('../images/can.png');
}

.artifact-cannon {
    background-image: url('../images/cannon.png');
}

.artifact-cassette {
    background-image: url('../images/cassette.png');
}

.artifact-chair {
    background-image: url('../images/chair.png');
}

.artifact-chalice {
    background-image: url('../images/chalice.png');
}

.artifact-chest {
    background-image: url('../images/chest.png');
}

.artifact-chip {
    background-image: url('../images/chip.png');
}

.artifact-chisel {
    background-image: url('../images/chisel.png');
}

.artifact-clock {
    background-image: url('../images/clock.png');
}

.artifact-code {
    background-image: url('../images/code.png');
}

.artifact-cogwheel {
    background-image: url('../images/cogwheel.png');
}

.artifact-coins {
    background-image: url('../images/coins.png');
}

.artifact-compass {
    background-image: url('../images/compass.png');
}

.artifact-container {
    background-image: url('../images/container.png');
}

.artifact-corkscrew {
    background-image: url('../images/corkscrew.png');
}

.artifact-crowbar {
    background-image: url('../images/crowbar.png');
}

.artifact-crown {
    background-image: url('../images/crown.png');
}

.artifact-dagger {
    background-image: url('../images/dagger.png');
}

.artifact-diadem {
    background-image: url('../images/diadem.png');
}

.artifact-diamond {
    background-image: url('../images/diamond.png');
}

.artifact-dice {
    background-image: url('../images/dice.png');
}

.artifact-dinosaur {
    background-image: url('../images/dinosaur.png');
}

.artifact-dodecahedron {
    background-image: url('../images/dodecahedron.png');
}

.artifact-drum {
    background-image: url('../images/drum.png');
}

.artifact-flintlock {
    background-image: url('../images/flintlock.png');
}

.artifact-fossil {
    background-image: url('../images/fossil.png');
}

.artifact-gauntlet {
    background-image: url('../images/gauntlet.png');
}

.artifact-glove {
    background-image: url('../images/glove.png');
}

.artifact-gold {
    background-image: url('../images/gold.png');
}

.artifact-hammer {
    background-image: url('../images/hammer.png');
}

.artifact-helmet {
    background-image: url('../images/helmet.png');
}

.artifact-hieroglyphs {
    background-image: url('../images/hieroglyphs.png');
}

.artifact-hook {
    background-image: url('../images/hook.png');
}

.artifact-horn {
    background-image: url('../images/horn.png');
}

.artifact-key {
    background-image: url('../images/key.png');
}

.artifact-knife {
    background-image: url('../images/knife.png');
}

.artifact-lamp {
    background-image: url('../images/lamp.png');
}

.artifact-lantern {
    background-image: url('../images/lantern.png');
}

.artifact-laptop {
    background-image: url('../images/laptop.png');
}

.artifact-lighter {
    background-image: url('../images/lighter.png');
}

.artifact-luger {
    background-image: url('../images/luger.png');
}

.artifact-machine {
    background-image: url('../images/machine.png');
}

.artifact-magnifier {
    background-image: url('../images/magnifier.png');
}

.artifact-medal {
    background-image: url('../images/medal.png');
}

.artifact-meteorite {
    background-image: url('../images/meteorite.png');
}

.artifact-mirror {
    background-image: url('../images/mirror.png');
}

.artifact-mug {
    background-image: url('../images/mug.png');
}

.artifact-nails {
    background-image: url('../images/nails.png');
}

.artifact-oar {
    background-image: url('../images/oar.png');
}

.artifact-opener {
    background-image: url('../images/opener.png');
}

.artifact-padlock {
    background-image: url('../images/padlock.png');
}

.artifact-pan {
    background-image: url('../images/pan.png');
}

.artifact-pawn {
    background-image: url('../images/pawn.png');
}

.artifact-pen {
    background-image: url('../images/pen.png');
}

.artifact-phone {
    background-image: url('../images/phone.png');
}

.artifact-pipe {
    background-image: url('../images/pipe.png');
}

.artifact-plate {
    background-image: url('../images/plate.png');
}

.artifact-pliers {
    background-image: url('../images/pliers.png');
}

.artifact-plunger {
    background-image: url('../images/plunger.png');
}

.artifact-pot {
    background-image: url('../images/pot.png');
}

.artifact-ring {
    background-image: url('../images/ring.png');
}

.artifact-safe {
    background-image: url('../images/safe.png');
}

.artifact-saucer {
    background-image: url('../images/saucer.png');
}

.artifact-scissor {
    background-image: url('../images/scissor.png');
}

.artifact-screwdriver {
    background-image: url('../images/screwdriver.png');
}

.artifact-sculpture {
    background-image: url('../images/sculpture.png');
}

.artifact-shield {
    background-image: url('../images/shield.png');
}

.artifact-shoe {
    background-image: url('../images/shoe.png');
}

.artifact-spoon {
    background-image: url('../images/spoon.png');
}

.artifact-sundial {
    background-image: url('../images/sundial.png');
}

.artifact-sunglasses {
    background-image: url('../images/sunglasses.png');
}

.artifact-sword {
    background-image: url('../images/sword.png');
}

.artifact-symbol {
    background-image: url('../images/symbol.png');
}

.artifact-tap {
    background-image: url('../images/tap.png');
}

.artifact-teapot {
    background-image: url('../images/teapot.png');
}

.artifact-telephone {
    background-image: url('../images/telephone.png');
}

.artifact-television {
    background-image: url('../images/television.png');
}

.artifact-tire {
    background-image: url('../images/tire.png');
}

.artifact-treasure {
    background-image: url('../images/treasure.png');
}

.artifact-typewriter {
    background-image: url('../images/typewriter.png');
}

.artifact-ukulele {
    background-image: url('../images/ukulele.png');
}

.artifact-umbrella {
    background-image: url('../images/umbrella.png');
}

.artifact-urn {
    background-image: url('../images/urn.png');
}

.artifact-valve {
    background-image: url('../images/valve.png');
}

.artifact-vase {
    background-image: url('../images/vase.png');
}

.artifact-wallet {
    background-image: url('../images/wallet.png');
}

.artifact-watch {
    background-image: url('../images/watch.png');
}

.artifact-weight {
    background-image: url('../images/weight.png');
}

.artifact-wheel {
    background-image: url('../images/wheel.png');
}

.artifact-whistle {
    background-image: url('../images/whistle.png');
}

.artifact-wine {
    background-image: url('../images/wine.png');
}

.artifact-wrench {
    background-image: url('../images/wrench.png');
}
